
body {
    background-color:rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position:fixed;
}
#titulo{
    font-family:fantasy;
    
}
#licoes_a_aprendidas{
    font-family:montserrat;
}

#licoes_aprendidas{
    font-family: cursive;
}
#artigo{
    font-style: normal;
    

}